$on-dark-text-color: white;
$on-light-text-color: #333;
$background-color: #fbfbfb;
$header-background-color: black;
$cover-image-background-color: #e6eaf0;
$divider-background-color: #932828;
$footer-background-color: #777;

$graph-gray-color: #919599;
$graph-light-gray-color: #eff1f2;
$graph-faded-text-color: #9b9b9b;

$graph-teal-color: #219096;

// http://tools.medialab.sciences-po.fr/iwanthue/
//$graph-purple-color: #7762cc;
//$graph-lime-color: #78b542;
//$graph-magenta-color: #bf50b6;
//$graph-green-color: #007e29; //#51a36c;
//$graph-pink-color: #ba1a4c; //#c94a72;
//$graph-cyan-color: #45bdc5;
//$graph-orange-color: #d05133;
//$graph-blue-color: #6485c9;
//$graph-ochre-color: #cf9c3d;
//$graph-lavender-color: #c27cb8;
//$graph-olive-color: #808038;
//$graph-brown-color: #be7157;

// https://vega.github.io/vega/docs/schemes/
$graph-blue-color: darken(rgb(31, 119, 180), 10%);
$graph-light-blue-color: darken(rgb(174, 199, 232), 10%);
$graph-orange-color: darken(rgb(255, 127, 14), 10%);
$graph-light-orange-color: darken(rgb(255, 187, 120), 10%);
$graph-green-color: darken(rgb(44, 160, 44), 10%);
$graph-light-green-color: darken(rgb(152, 223, 138), 10%);
$graph-red-color: darken(rgb(214, 39, 40), 10%);
$graph-light-red-color: darken(rgb(255, 152, 150), 10%);
$graph-purple-color: darken(rgb(148, 103,  189), 10%);
$graph-light-purple-color: darken(rgb(197, 176, 213), 10%);
$graph-cyan-color: darken(rgb(23, 190, 207), 10%);
$graph-light-cyan-color: darken(rgb(158, 218, 229), 10%);
$graph-pink-color: darken(rgb(227, 119, 194), 10%);
$graph-gold-color: darken(rgb(188, 189, 34), 10%);
