@import 'colors';
@import 'constants';

.graph-container {
    margin: auto;
    width: $graph-width;
    height: 100%;
}

svg {
    position: sticky;
    top: calc(50vh - #{$graph-height} / 2 - 2vh);
    background-color: $background-color;
    font-family: 'Roboto Condensed', sans-serif;
}

svg circle {
    fill-opacity: 0.6;
}

svg .grid {
    color: $graph-gray-color;
    stroke-width: 0.4;
}

svg .axis-title {
    font-family: 'Rubik', sans-serif;
}

svg .dashed-line {
    stroke: $graph-gray-color;
    stroke-dasharray: 8;
}

svg .annotation-note {
    .annotation-note-bg {
        fill: $graph-light-gray-color;
        fill-opacity: 1;
    }

    .annotation-note-label {
        text-anchor: middle;
        fill: $graph-faded-text-color;
        font-size: 1.3rem;
    }
}
